<div class="panel-header panel-header-lg" ></div>
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />

<div class="main-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-chart" style="background-color: transparent;">
                <div class="card-header">
                    <h1 class="card-title exemplarPro-family" style="text-transform: uppercase;">create sales offer</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4" *ngFor="let projects of projectData; let i = index">
                    <div class="card card-chart offer-card" [ngClass]="{'active' : projects.id == selectedProjectId}" (click)="getProjectConfig(projects.id);">
                        <div class="card-body">
                            <a href="javascript:void(0)">
                                <img src="{{ projects.project_image }}" alt="">
                                <h4>{{ projects.project_name }}</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 offer-page-filter" *ngIf="showProjectConfig">
            <div>
                <div class="btn-01-wrp">
                    <a href="javascript:void(0)" class="btn-01 is-white curve" [ngClass]="{'active' : configType == 'ALL'}" (click)="filterConfig('ALL')" >All Configurations (63)</a>
                </div>  
                <div class="btn-01-wrp" *ngFor="let unittype of unitTypes">
                    <a href="javascript:void(0)" class="btn-01 is-white curve" [ngClass]="{'active' : configType == unittype}" (click)="filterConfig(unittype)">{{ unittype }} (63)</a>
                </div>
            </div>           
            <div>
                <div class="btn-01-wrp">
                    <a href="javascript:void(0)" class="btn-01 is-white curve" [ngClass]="{'active' : viewType == 'ALL'}" (click)="filterView('ALL')">All Views</a>
                </div>
                <div class="btn-01-wrp" *ngFor="let unitview of unitViews">
                    <a href="javascript:void(0)" class="btn-01 is-white curve" [ngClass]="{'active' : viewType == unitview}"  (click)="filterView(unitview)">{{ unitview }} (63)</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-12" *ngIf="showProjectConfig">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table display" id="myTable" >
                            <thead class=" text-primary">
                                <th></th>
                                <th>UNIT <br>NUMBER</th>
                                <th>UNIT <br>TYPE</th>
                                <th>TOTAL <br>AREA (SQ FT)</th>
                                <th>UNIT <br>VIEW</th>
                                <th>PAYMENT <br>PLAN (AED)</th>
                                <th>ACTION</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let units of filteredUnitData">
                                    <td><i class="now-ui-icons location_bookmark"></i></td>
                                    <td>{{ units.unit_number}}</td>
                                    <td>{{ units.unit_type}}</td>
                                    <td>{{ units.total_area}}</td>
                                    <td>{{ units.unit_view}}</td>
                                    <td>{{ units.price}}</td>
                                    <td>
                                        <div class="btn-01-wrp">
                                          <a href="javascript:void(0)" class="btn-01 is-white" (click)="generateSalesOffer(units.id)">GENERATE OFFER</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script>$(document).ready( function () {
    $('#myTable').DataTable();
} );</script>