body {
    background-color:#111 !important;
} 
.error{
    color:red;
}
.form {
    padding: 20px 70px;
    background: linear-gradient(120deg, #3A3A3A, #111);
}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-video-left {
    width: 50%;
    object-fit: cover;
}

.form-card {
    padding: 30px;
    background-color: #333;
    color: white;
}

.form-control {
    background-color: #444;
    border: none;
    border-radius:10px;
    color: white;
}

.form-control:focus {
    background-color: #555;
    color: white;
    border-color: #ffa500;
    box-shadow: none;
}

.btn-submit {
    background-color: #ffa500;
    border: none;
    color: black;
}


@media (max-width: 1023px){
    .form {
        padding: 10vh;
    }
    .card {
        flex-wrap: wrap;
    }
    .card > * {
        width: 100% !important;
    }
}
@media (max-width: 767px){
    .form {
        padding: 3vh;
    }
    .form-card {
        padding: 20px;
        text-align: center;
    }
    .form-card form {
        text-align: left;
    }
}